@keyframes flight {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(40%, -30%);
  }
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}